gradio
gradio_molecule2d
gradio_molecule3d
rdkit-pypi
deepchem
mordred
plotly
torch==2.1.0 --index-url https://download.pytorch.org/whl/cu121
torch_geometric
torch-scatter -f https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch-sparse -f https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch-cluster -f https://data.pyg.org/whl/torch-2.1.0+cu121.html
tabulate
